.cc-reception-header{
	color: #000000;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 200;
	text-transform: capitalize;
	margin-bottom: auto;
	text-align: center;
}

.cc-title-label{
	color: #000000;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: 200;
	margin-bottom: auto;
}

.myvideoroom_extras_user_layout_id_preference,
.myvideoroom_extras_user_reception_id_preference {
	width: 50%;
	display: flex;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.cc-row {
	padding: 8px;
	border-style: solid!important;
	border: 1px #131212;
}

form{
	background-color:#c4eeff;
	padding:20px!important;
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
	color: black;
}

table {
	border-spacing: 15px;
}
