.cc-menue-container{
	box-shadow: 10px 10px 8px #888888;
	border: solid 1px black;
	padding: 10px;
}

.cc-menu-header{
	color: #000000;
	font-family: "Montserrat", sans-serif !important;
	font-size: 20px;
	font-weight: 200;
	text-transform: capitalize;
	padding-bottom: 10px;

}

.cc-menu-header-template{
	color: #000000;
	font-family: "Montserrat", sans-serif !important;
	font-size: 18px;
	font-weight: 300;
	text-transform: capitalize;
	padding-bottom: 10px;

}

.nice-select{
	width: 30%!important;
}

.tabCtrl{
	line-height: 2;
}

ul {
	list-style: none;
	padding: 0;
	margin: 5px;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 5px 3px;
}

.myvideoroom_extras_user_layout_id_preference,
.myvideoroom_extras_user_reception_id_preference {
	width: 50%;
	display: flex;
}
