.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
	padding: 0 ! important;
}

.elementor-54320 .elementor-element.elementor-element-1517006a {
	padding: 0 ! important;
}

.elementor-54320 .elementor-element.elementor-element-1517006a>.elementor-container {
	max-width: 100%;
}

.elementor-54320 .elementor-element.elementor-element-6c36e33d>.elementor-element-populated {
	border: none;
	border-style: unset ! important;
}

.elemental-primary-nav-img {
	margin-right: 8px;
}

.myvideoroom-dashicons,
.myvideoroom-dashicons-before:before {
	line-height: 1.2 ! important;
}

.dropdown-content a:hover {
	background-color: #323064 ! important;
	color: white ! important;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0.2em 0.2em 0;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	/* border-radius: 10px; */
	border: none ! important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	border-radius: 14px;
	padding: 0.5em 1em;
	text-decoration: none;
}

.ui-widget-header {
	background: white ! important;
}

.elemental-sandbox-wrap {
	clear: both;
	border-radius: 1%;
}

.ui-widget-content {
	background: none ! important;
}

.sandbox-menu-header {
	display: flex;
	box-sizing: border-box;
	background-color: white ! important;
	color: #525151;
	font-size: 16px;
	line-height: initial;
	text-decoration: none;
	margin: 0px;
}

.ui-tabs .ui-tabs-nav {
	border: 0;
	margin: 0;
	/* padding: 0.2em 0.2em 0; */
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: none ! important;
	font-weight: normal;
	color: #555;
}

.elemental-article {
	border: none ! important;
}

.elemental-sandbox-nav-tab-wrapper li a {
	border: 2px solid #323064!important;
	border-bottom: 2px solid #323064 ! important;
	border-radius: 10px 10px 0 0;
	display: inline-block;
	font-size: 18px;
	font-family: montserrat;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px 0.2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
	background: white;
	border-radius: 14px;
	/*this stays 14px for round */
}

.elemental-membership-displayconf {
	display: inline;
}

.elemental-align-left {
	text-align: start;
}

.elemental-align-centre {
	text-align: center;
}

.elemental-email-status {
	float: right;
	width: 20%;
	padding-top: 7px;
	padding-bottom: 6px;
	border-radius: 3px 3px 3px 3px;
}

.elemental-email-status-individual {
	float: right;
	width: 50%;
	border: 1px solid #ddd;
	padding-top: 7px;
	padding-bottom: 6px;
	border-radius: 3px 3px 3px 3px;
}

.elemental-thankyou-logo {
	width: 50%;
	padding: 20px;
	border-radius: 3px 3px 3px 3px;
}

.elemental-email-wrapper {
	float: left;
	width: 70%;
}

.elemental-initial {
	display: initial;
}

.elemental-invalid {
	background: rgb(235, 133, 65);
	color: white;
	padding: 5px;
}

.elemental-checking {
	background: rgb(197, 228, 163);
	color: white;
	padding: 5px;
}

.elemental-email-taken {
	background: rgb(228, 43, 43);
	color: white;
	padding: 5px;
}

.elemental-email-available {
	background: rgb(33, 94, 20);
	color: white;
	padding: 5px;
}

.elemental-accounts-remaining {
	background: rgb(255, 255, 255);
	border: 1px solid #e91414;
	border-radius: 4px;
	color: #e91414;
	display: initial;
	padding: 6px;
	font-size: 12px;
}

.myvideoroom-logo-image {
	width: 74px;
}

#members-order-by {
	min-width: 150px;
}

#youzify .elemental-directory-filter .item-list-tabs li select {
	text-transform: none!important;
}

.elemental-side-tab {
	float: left;
	width: 20%;
	min-width: 7%;
}

.elemental-content-tab {
	float: right;
	width: 80%;
}

.store-data p {
	font-size: 12px!important;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-footer .store-avatar {
	padding: 6px;
	background: #fff;
	margin-top: 10px;
	position: absolute;
	top: -75px;
	width: 116px;
	height: 116px;
	border-radius: 0!important;
	border: 1px solid #969696!important;
}

.elemental-thankyou-box {
	width: 60%;
	color: white;
	padding: 10px;
}

.elemental-split {
	width: 50%;
}

.elemental-float-left {
	float: left;
}

.elemental-float-right {
	float: right;
}

.elemental-clear {
	clear: both;
}

#search--form {
	display: inline-flex;
}

#elemental-inbound-email,
.elemental-email {
	padding: 5px;
	width: 60%;
	margin-bottom: 10px;
	font-size: 15px;
	display: inline-block;
	background-color: #fff !important;
	border: 1px solid #555 !important;
	box-shadow: none;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-footer .store-avatar img {
	width: 100%;
	height: 100%;
	border-radius: 0!important;
}

.elemental-premium-content {
	border: solid #c6c0ad 3px;
}

.elemental-premium-content {
	max-width: 100%;
	border-bottom: solid #c6c0ad 5px;
}

.elemental-store-content {
	border: solid #fff 3px;
}

.elemental-store-content {
	max-width: 100%;
	border-bottom: solid #fff 5px;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-content {
	max-width: 100%;
	border-bottom: 4px solid #c6c0ad!important;
}

.elemental-ribbon {
	background: #c6c0ad;
	color: white;
	border: solid black 2px;
	padding: 3px;
	font-size: 14px;
}

.elemental-background-item {
	background: #fff url("../img/Background.jpg");
	padding-bottom: 10px;
}

#wcfm_membership_container p.wcfm_title,
#wcfm_membership_container span.wcfm_title {
	font-size: 15px;
	margin-bottom: 10 px !important;
	font-style: normal;
	width: 39%;
	display: -webkit-box!important;
	vertical-align: top;
}

.elemental-onboard-header {
	color: #5b5b5b;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.2em;
}

.elemental-capitalise {
	text-transform: capitalize;
	font-weight: bold;
}

.wcfm-container h3,
.wcfm-container h2,
.elemental-align-left h3 {
	font-weight: 200;
	line-height: 1.2em;
	font-size: 20px;
	color: #fff;
}

.elemental-thankyou-next {
	font-weight: 200;
	line-height: 1.2em;
	font-size: 18px;
	color: white;
}

.elemental-container h2 {
	font-weight: 300;
	line-height: 1.2em;
	font-size: 30px;
	color: #55595c;
}

.elemental-title-card {
	font-size: 22px!important;
	text-transform: capitalize;
}

#elemental-extra,
.elemental-top-margin {
	margin-top: 10px;
}

.elemental-login-button {
	padding: 10px;
}

.elemental-premium-header {
	border: #c6c0ad;
	border-top-color: rgb(198, 192, 173);
	border-top-style: none;
	border-top-width: medium;
	border-right-color: rgb(198, 192, 173);
	border-right-style: none;
	border-right-width: medium;
	border-bottom-color: rgb(198, 192, 173);
	border-bottom-style: none;
	border-bottom-width: medium;
	border-left-color: rgb(198, 192, 173);
	border-left-style: none;
	border-left-width: medium;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-width: 7px;
	border-style: solid;
}

#wcfmmp-stores-lists .right_side {
	width: 100%!important;
	padding: 2% 2% 0 2%!important;
}

.left_sidebar,
.youzify-widget-head,
.elemental-hide {
	display: none!important;
}

.search-menu-header {
	display: flex;
	box-sizing: border-box;
	background-color: #e0e0e0;
	color: #525151;
	font-size: 16px;
	line-height: initial;
	text-decoration: none;
	padding-left: 3px;
}

#wcfm-main-contentainer {
	background: white;
}

.elemental-shortcode-padding {
	padding: 10px;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap p.store-phone {
	background: none!important;
}

.elemental-thankyou-button {
	display: inline-block;
	background-color: #00529C00;
	font-size: 15px;
	padding: 0 !important;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 3px solid white;
	color: #fff;
	fill: #fff;
	text-align: center;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.elemental-header-loginout {
	display: inline-block;
	background-color: #00529C00;
	font-size: 15px;
	padding: 0 !important;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 3px solid white;
	color: #fff;
	fill: #fff;
	text-align: center;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.elemental-thankyou-link {
	color: #f3882c;
	font-size: 16px;
	padding: 5px;
}

.elementor-location-footer {
	margin-top: 0px!important;
}

.youzify-page {
	background-color: #fff!important;
}

.mvr-header-section {
	position: relative;
	width: 100%;
	border-top: none!important;
}

.elemental-header-searchbar {
	border-style: solid!important;
	border-width: 2px!important;
	border-radius: 10px!important;
	border: #525151!important;
}

.elemental-forum-search {
	width: 97%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-wrapper {
	border: #cdcdcd 2px solid;
	border-radius: 5px;
}

.wcfmmp-store-rating {
	display: none;
}

div.wcfm-collapse-content h2 {
	font-size: 18px;
	line-height: 20px;
	display: table-cell;
	float: left;
	font-weight: 300!important;
	color: #2d4e4c;
	margin-top: 6px;
	margin-bottom: 15px;
	width: auto;
	padding: 0;
	clear: none;
	font-family: var( --e-global-typography-primary-font-family), Sans-serif;
	font-style: inherit!important;
}

p.wcfm_title strong,
span.wcfm_title strong {
	font-style: inherit!important;
	font-weight: 300 !important;
	font-family: var( --e-global-typography-primary-font-family), Sans-serif;
}

.elemental-host-link {
	fill: #FFFFFF;
	font-family: "Montserrat", Sans-serif;
	font-weight: 600;
	font-size: 14px;
	font-family: var( --e-global-typography-primary-font-family), Sans-serif;
}

.elemental-buttonlink-border {
	border: 2px solid rgb(158, 158, 158);
	padding: 5px!important;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.iump-register-form {
	background: #FFFFFF00!important;
}

.elemental-forumsearch-outer-wrap {
	max-width: 96%;
	margin: auto;
	padding: 5px;
}

.youzify-bbp-topic-head {
	padding: 20px;
	border-radius: 2px;
	margin-bottom: 5px!important;
	background-color: #fff;
	border-left: 5px solid #03a9f4;
}

.youzify-my-account-widget {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #ffffff4d!important;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	padding: 0px!important;
}

.youzify-button-item.youzify-home-button a,
.youzify-my-account-widget .youzify-menu-icon-colorful .youzify-link-inbox i {
	background-color: #02293a!important;
}

.youzify-button-item a {
	background-image: none!important;
}

.youzify-button-item.youzify-profile-button a {
	background-color: #5e4909!important;
}

.youzify-button-item.youzify-networks-button a {
	background-color: #280762!important;
}

.youzify-button-item.youzify-avatar-button a,
.youzify-my-account-widget .youzify-menu-icon-colorful .youzify-link-profile-settings i {
	background-color: #182c01!important;
}

.youzify-button-item.youzify-cover-button a,
.youzify-my-account-widget .youzify-menu-icon-colorful .youzify-link-widgets-settings i {
	background-color: #02293a!important;
}

.youzify-button-item.youzify-logout-button a,
.youzify-my-account-widget .youzify-menu-icon-colorful .youzify-link-account-settings i {
	background: #02293a!important;
}

.youzify .editfield label[for*=adminsonly] .field-visibility-text:before,
.youzify-account-profile-settings {
	background: #02293a!important;
}

.youzify .editfield label[for*=loggedin] .field-visibility-text:before,
.youzify-account-account-settings {
	background: #02293a!important;
}

.youzify-account-widgets-settings {
	background: #02293a!important;
}

.youzify-reset-options,
.youzify-save-options button,
#youzify-profile-picture>div.options-section-title>div>button,
#youzify-profile-picture>div.youzify-settings-actions>button,
#youzify-change-password>div.options-section-title>div>button,
#youzify-change-password>div.youzify-settings-actions>button,
#youzify-notifications-settings>div.options-section-title>div>button,
#youzify-notifications-settings>div.youzify-settings-actions>button,
#youzify-about_me>div.youzify-settings-actions>button,
#youzify-about_me>div.options-section-title>div>button,
#youzify-skills>div.options-section-title>div>button,
#youzify-skills>div.youzify-settings-actions>button,
#youzify-services>div.options-section-title>div>button,
#youzify-services>div.youzify-settings-actions>button,
#youzify-post>div.options-section-title>div>button,
#youzify-post>div.youzify-settings-actions>button {
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 13px!important;
	font-weight: 600!important;
	min-width: 135px;
	line-height: 45px;
	padding: 6px!important;
	position: relative;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	text-transform: initial;
}

.youzify-my-account-widget .youzify-menu-links .youzify-link-item .youzify-link-title {
	font-family: "Montserrat", Sans-serif!important;
	font-size: 16px!important;
	font-weight: 400!important;
	color: #7c838a!important;
	display: inline-block!important;
}

.youzify * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	font-family: "Montserrat", Sans-serif;
}

.elemental-search-bar {
	display: grid;
	margin: 3px 3px 3px 3px;
	padding: 2px 2px 2px 2px;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	display: flex;
}

#elemental-store-phone,
.elemental-title-background {
	background: linear-gradient(90deg, rgb(255 255 255) 50%, rgba(0, 0, 0, 0) 100%)!important;
	border-radius: 10px;
	margin-bottom: 10px!important;
}

.elemental-premium-banner-description {
	background: #00529c;
	color: white;
	text-align: center;
}

#friendship-button-3,
{
	background: #00529c;
}

.elementor-menu-cart__toggle .elementor-button {
	border: none!important;
}

.elemental-button-primary-nav-area {
	display: inline-block;
}

.elemental-primary-nav-img {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
	background-color: #f5f5f5;
	background-position: center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.site-main {
	min-height: calc(100vh - 210px);
}

.elemental-spacer{
	padding-top: 12px
}
.elemental-table-info-header{
	background: #EDEDED;
	border-radius: 10px;
	margin-bottom: 10px!important;
}
.elemental-table-header-info{
	text-transform: none;
	font-family:'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
}
