/**
 * The frontend css for elemental
 * This is used for breakpoints above 640px width
 * @package elementalPlugin
 */

		.entry-content {
			text-decoration: none;
		}

		.elemental-mobile-img-adjust {
			min-width: 100px;
			margin-left: auto;
			border-bottom: none;
		}

		.elemental-icons {
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			color: #797156;
			font-size: 23px !important;
			height: 20px;
			margin-bottom: 8px;
			vertical-align: middle;
			width: 25px;
		}

		.elemental-title-header {
			display: inline !important;
			margin-bottom: 10px;
			margin-top: 10px;
		}



		#basket-video-host-wrap-table,
		#elemental-main-basket-window {
			margin-left: 72px;
		}

		.elemental-side-tab {
			float: left;
			width: 7%;
			min-width: 7%;
			margin-top: 3px;
			padding: 2px;
		}

		.elemental-content-tab {
			float: right;
			width: 93%;
		}

		.elemental-center {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 60%;
		}

		.elemental-button-separation {
			margin-left: 5px;
			margin-right: 5px;
		}




		.elemental-search-nav-tab-wrapper {
			margin-bottom: 4px;
			overflow: hidden;
		}

		.elemental-search-nav-tab-wrapper ul {
			margin: 0;
			padding: 0;
			white-space: nowrap;
		}


		.elemental-search-nav-tab-wrapper li {
			display: inline-block;
			margin: 0;
			padding: 1px;
			z-index: 2;
			background: white;
			width: 100%;
			text-align: center
		}

		.elemental-search-nav-tab-wrapper li a.nav-tab-active {
			font-weight: 500;
			background: white;
			width: 100%;
		}

		.elemental-search-nav-tab-wrapper li a:not(.nav-tab-active) {
			background: #dcdcde;
			width: 100%;
		}

		.elemental-search-nav-tab-wrapper li a.nav-tab-active,
		.elemental-search-nav-tab-wrapper li a:not(.nav-tab-active) {
			text-decoration: none;
		}

		.elemental-search-nav-tab-wrapper li a.nav-tab-active:hover,
		.elemental-search-nav-tab-wrapper li a:not(.nav-tab-active):hover {
			text-decoration: underline;
		}

		.elemental-search-nav-tab-wrapper li:last-child:after {
			width: 100%;
		}

		.elemental-search-nav-tab-wrapper li a {
			border: 1px solid #c3c4c7;
			border-radius: 3px 3px 0 0;
			display: inline-block;
			padding: 7px 10px 7px 10px;
		}





		.elemental-sandbox-nav-tab-wrapper {
			overflow: hidden;
			margin-bottom: 1%;
		}

		.elemental-sandbox-nav-tab-wrapper ul {
			padding: 0;
			white-space: nowrap;
			background: #fff0 !important;
		}

		.elemental-sandbox-nav-tab-wrapper li  {
			display: inline-block;
			margin: 0;
			padding: 1px;
			z-index: 2;
			background: white;
			width: 100%;
			text-align: center
		}

		.elemental-sandbox-nav-tab-wrapper li a.nav-tab-active {
			font-weight: 600;
			color: white;
			width: 100%;
			font-size: 18px;
			font-family: montserrat;
			padding-top: 15px;
			padding-bottom: 15px;
		  }

		  .elemental-sandbox-nav-tab-wrapper li a:not(.nav-tab-active) {
			background: #ffffff;
			width: 100%;
		}

		.elemental-sandbox-nav-tab-wrapper li a.nav-tab-active,
		.elemental-sandbox-nav-tab-wrapper li a:not(.nav-tab-active) {
			text-decoration: none;
		}

		.elemental-sandbox-nav-tab-wrapper li a.nav-tab-active:hover,
		.elemental-sandbox-nav-tab-wrapper li a:not(.nav-tab-active):hover {
			text-decoration: underline;
			color:#FB5C5F;
		}

		.elemental-sandbox-nav-tab-wrapper li:last-child:after {
			width: 100%;
		}

		.elemental-sandbox-nav-tab-wrapper li a {
			border: 1px solid #c3c4c7;
			border-radius: 10px 10px 0 0;
			border-bottom: none;
			display: inline-block;
			font-size: 18px;
			font-family: montserrat;
			padding-top: 15px;
			padding-bottom: 15px;
			font-weight: 600;
		}

		.elemental-sandbox-wrap{
			clear: both;
		}

		.elemental-article {
			border-width: 1px;
			border-color: #b5b5b6;
			min-height: 700px;

		}

		.sandbox-menu-header {
			display: flex;
			box-sizing: border-box;
			background-color: #e0e0e0;
			color: #525151;
			font-size: 16px;
			line-height: initial;
			text-decoration: none;
			margin: 0px;
		}


		.elemental-user-image {
			z-index: 1;
			color: #fff;
			display: table;
			font-size: 0;
			position: relative;
			width: 50%;
			max-width: 250px;
		}

		.elemental-product-image {
			color: #fff;
			display: table;
			width: 50px;
			height: 50px;
		}

		.elemental-image-result {
			color: #fff;
			border-radius: 80px;
			max-width: 120px;
			border: solid;
			border-width: 3px;
		}

		.elemental-image-result {
			color: #fff;
			width: 180px;
			height: 101px;
		}

		.elemental-button-notification {
			text-align: right;
		}

		.elemental-welcome-page {
			background: #fff;
			padding: 5px;
		}
		/* Create three unequal columns that floats next to each other */

		.elemental-table-row {
			border-color: #C6C0AD;
			border-style: solid;
			border-width: 1px 1px 1px 1px;
			box-shadow: 0 0 1px 1px rgb(0 0 0 / 30%);
			display: grid;
			margin: 3px 3px 3px 3px;
			padding: 2px 2px 2px 2px;
			transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
			display: flex;
		}

		.elemental-input-box {
			padding: 4px;
		}

		.elemental-left {
			width: 50%;
			float: left;
		}
		.elemental-right-nofloat {
			text-align: end;
		}

		.elemental-right {
			width: 50%;
			float: right;
			text-align: end;
		}

		.elemental-middle {
			width: 50%;
			display: flex;
		}

		.elemental-confirmation-table-left {
			width: 65%;
			align-self: center;
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.elemental-confirmation{
			width:99%;
			border-color: #C6C0AD;
			border-style: solid;
			border-width: 1px 1px 1px 1px;
			box-shadow: 0 0 1px 1px rgb(0 0 0 / 30%);
			display: grid;
			margin: 3px 3px 3px 3px;
			padding: 2px 2px 2px 2px;
			transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
			
		}

		.elemental-confirmation-table-right {
			width: 35%;
			align-self: center;
		}

		.elemental-notification-align,
		.elemental-table-row p,
		.elemental-table-row button {
			align-self: center;
			margin: 0;
			margin-right: 5px;
			margin-left: 3px;
		}

		.ui-tabs .ui-tabs-panel {
			padding: 2px!important;
			margin-top: 10px;
			border-right: solid#C4C4C4 1px!important;
			border-top: solid#C4C4C4 1px!important;
			border-radius: 0!important;
		  }

		.elemental-flex {
			display: flex;
			margin-top: 5px;
			margin-bottom: 5px;
		}

		.elemental-table-row:after {
			content: "";
			display: table;
			clear: both;
		}

		.elemental-admin-page-wrap {
			border: 1px solid #c3c4c7;
			margin-top: 0;
			padding: 8px;
			background: white;
		}

		.elemental-table-adjust {
			font-size: smaller;
		}

		.elemental-clear {
			clear: both;
		}

		.elemental-float-right {
			float: right;
		}

		.elemental-separation {
			margin-top: 10px;
		}

		.elemental-article-separation {
			margin-top: 4px;
			padding: 2px;
		}

		#elemental-confirmation-table>thead>tr {
			background-color: #ffffff!important;
		}

		#elemental-notification-icons,
		.elemental-header-title {
			animation: fadeIn 2s;
			opacity: 1;
		}

		.elemental-notification-area {
			background: darkblue;
			color: white;
			text-align: center;
			font-size: 15px;
			padding-right: 10px;
			padding-left: 10px;
		}

		.elemental-main-button-enabled {
			background: rgb(15, 90, 5)!important;
			border-radius: 4px;
			border-width: 2px;
			cursor: pointer;
			display: inline-block;
			letter-spacing: -.021em;
			line-height: 1.87947!important;
			min-width: 30px !important;
			padding: 2px 2px;
		}
		.elemental-main-button-enabled :hover{

			border-radius: 4px;
			border-width: 2px;
			cursor: pointer;
			display: inline-block;
			letter-spacing: -.021em;
			line-height: 1.87947!important;
			min-width: 30px !important;
			padding: 2px 2px;
		}

		.elemental-main-button-enabled a,
		.elemental-button-table p {
			color: white;
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
		}

		.elemental-ul-style-side-menu {
			box-sizing: border-box;
			background-color: #e0e0e0;
			color: #525151;
			font-size: 16px;
			line-height: initial;
			text-decoration: none;
			display: contents;
		}

		.elemental-app {
			border: 1px solid #c3c4c7;
			margin-right: 1px;
		}

		.elemental-ul-style-menu {
			box-sizing: border-box;
			background-color: #e0e0e0;
			color: #525151;
			font-size: 20px;
			line-height: initial;
			border-style: solid;
			border-radius: 4px;
			border-color: #27241c;
			border-width: 2px;
			text-decoration: none;
			padding: 5px;
		}

		.elemental-ul-style-top-menu {
			box-sizing: border-box;
			background-color: #e0e0e0;
			color: #525151;
			font-size: 20px;
			line-height: initial;
			text-decoration: none;
			padding: 5px;
			display: flex;
		}

		.elemental-ul-style-menu span {
			font-size: 28px;
			color: rgb(82, 82, 82);
		}
		.elemental-icon {
			padding: 2px!important;
			background-color: #ffffff00!important;
		}
		.elemental-profile-button {
			padding: 4px!important;
			background-color: #e9e9e942!important;
			border: 1px solid #303030;
			font-size: 32px;
		}

		.elemental-nav-settingstabs-outer-wrap {
			border: 1px solid #c3c4c7;
			padding: 10px 10px 10px 10px;
		}

		.elemental-dashicons,
		.elemental-dashicons-before:before {
			font-family: dashicons!important;
			display: inline-block;
			line-height: 1;
			font-weight: 400;
			font-style: normal;
			font-size: 22px!important;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			vertical-align: middle;
			text-align: center;
			transition: color .5s ease-in;
		}

		.elemental-header-table-left {
			width: 20%;
			float: left;
			text-align: left;
			padding: 10px;
			display: flex;
		}

		.elemental-header-table-right {
			width: 80%;
			float: right;
			text-align: right;
			padding-top: 8px
		}

		.elemental-welcome-buttons {
			background-color: rgb(77, 77, 77)!important;
			border-radius: 3px!important;
			color: rgb(255 255 255) !important;
			font-size: 12px!important;
			padding: 10px!important;
			font-weight: 400!important;
			margin: 5px!important;
			text-align: -webkit-center!important;
			vertical-align: middle!important;
		}

		.elemental-welcome-positive {
			background: linear-gradient(#032979, #1c1c96);
			border-radius: 3px!important;
			color: rgb(255 255 255) !important;
			font-size: 12px!important;
			padding: 10px!important;
			font-weight: 400!important;
			margin: 5px!important;
			text-align: -webkit-center!important;
			vertical-align: middle!important;
		}

		.elemental-main-button-cancel a {
			color: white;
		}

		.elemental-main-refresh-button {
			padding: 9px!important;
			font-weight: 400!important;
		}

		.elemental-main-button-cancel {
			background: gainsboro!important;
			border-radius: 4px;
			border-width: 1px;
			cursor: pointer;
			display: inline-block !important;
			font-weight: 400;
			letter-spacing: -.021em;
			line-height: 1.52947;
			min-width: 30px !important;
			padding: 4px 4px;
		}

		.elemental-main-button-stop {
			background: linear-gradient(#e60000, #e84a58)!important;
		}

		.elemental-woocommerce-overlay {
			border-color: #C6C0AD;
			border-style: solid;
			border-width: 1px 1px 1px 1px;
			box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
			display: grid;
			background: white;
			padding: 10px 10px 10px 10px;
			transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		}

		.prejoin-preview-dropdown-container div {
			background: #0376da;
			border: 1px solid #0376da;
			display: none!important;
		}

		.elemental-form-button {
			background: -webkit-gradient(linear, left top, left bottom, from(#42a1ec), to(#0070c9));
			background: -webkit-linear-gradient(#42a1ec, #0070c9);
			background: linear-gradient(#42a1ec, #0070c9);
			background-color: #0070c9;
			border-color: #07c;
			border-radius: 4px;
			border-style: solid;
			border-width: 1px;
			color: #fff;
			cursor: pointer;
			display: inline-block !important;
			font-weight: 400;
			letter-spacing: -.021em;
			line-height: 1.52947;
			min-width: 30px !important;
			padding: 4px 6px;
			text-align: center !important;
			white-space: nowrap !important;
		}

		.elemental-form-button-max {
			max-height: 30px;
			max-width: 125px;
		}

		.elemental-background {
			background: white;
		}

		.elemental-preferences-paragraph {
			color: rgb(32, 32, 32);
			font-size: 12px;
			font-weight: 500;
			margin-bottom: 10px !important;
		}

		.elemental-full-hide {
			display: none!important;
		}

		.elemental-button-fix {
			color: rgb(124, 124, 124)!important;
		}

		.elemental-header-table-right p {
			margin-top: -2px!important;
			font-size: 12px;
			padding-right: 10px;
		}

		.elemental-outer-shortcode {
			margin: 5px;
		}

		.elemental-header-table-right span {
			margin-top: 10px
		}

		.elemental-login-button {
			display: inline-block;
			background-color: #00529C;
			font-size: 15px;
			padding: 0!important;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			color: #fff;
			fill: #fff;
			text-align: center;
			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
		}

		.elemental-login-button a {
			color: #fff;
			fill: #fff;
		}

		.elemental-login-button a:hover {
			color: rgb(131, 131, 131);
		}

		.dropdown {
			position: relative;
			display: inline-block;
		  }


		  #iump_login_username, #iump_login_password {
			color: white !important;
  			background: #fff0;
		}
		  .dropdown-content {
			display: none;
			position: absolute;
			background-color: #fff!important;
			min-width: 260px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			z-index: 1;
			background: #FFFFFF;
			margin-left: -120px;
			border-radius: 8px;
		  }

		  .dropdown-content a {
			color: #3674FD;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		  }

		  .dropdown-content a:hover {
			background-color: #ddd;
			color: #FC5C5F;
		}

		  .dropdown:hover .dropdown-content {display: block;}

		  .dropdown:hover .dropbtn {
			background-color: #323064;
			color:#FFFFFF
		}

		.iump-form-upload_image{
			display:none!important;
			}
			.ihc-register-2 .iump-submit-form input {
			  color: #fff !important;
			  width: 100%;
			  background: none repeat scroll 0 0 #323064 !important;
			  border: 4px solid #323064;
				border-top-color: rgb(50, 48, 100);
				border-top-width: 4px;
				border-right-color: rgb(50, 48, 100);
				border-right-width: 4px;
				border-bottom-color: rgb(50, 48, 100);
				border-bottom-width: 4px;
				border-left-color: rgb(50, 48, 100);
				border-left-width: 4px;
			  border-width: 3px;
			  border-color: #323064 !important;
			  box-shadow: none !important;
			  -webkit-transition: all .3s linear 0s;
			  -moz-transition: all .3s linear 0s;
			  -ms-transition: all .3s linear 0s;
			  -o-transition: all .3s linear 0s;
			  transition: all .3s linear 0s;
			  padding: 16px 22px;
			  box-sizing: border-box;
			}
